* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #ffffff;
  text-align: left;
  font-size: 15px;
}

.body {
  width: 100%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form h1 {
  margin: 0;
}
form {
  width: 100%;
  margin-bottom: 20px;
  background-color: #303343;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

form input[type="text"] {
  width: 100%;
  max-width: 400px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #303343;
  outline: none;
  color: #ffffff;
  background-color: #5891b8;
}
form input[type="text"]::placeholder {
  color: #cdcdfdd3;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  gap: 20px;
}
.blue-text {
  color: #458ebf;
}

.subtext {
  color: #aeb0b3;
  font-size: 13px;
  font-style: italic;
}

.card {
  padding: 20px;
  background-color: #303343;
  width: 320px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 10px;
}

.card .card-header {
  padding-bottom: 10px;
  padding-left: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  border-bottom: 2px solid #999a9c;
  line-height: 1;
}

.card .avatar {
  background-color: #458ebf;
  padding: 20px;
  border-radius: 50%;
  width: 55px;
  text-align: center;
}

.card .card-body {
  padding-bottom: 10px;
  border-bottom: 2px solid #999a9c;
}
